
@{
    Layout = null;
}
<style>
    * {
        box-sizing: border-box;
    }

    body {
        background-image: linear-gradient(to bottom right,rgb(53, 59, 72,0.6), rgb(53, 59, 72,0.6) ), url(../Images/background1.jpg);
        background-size: cover;
        background-position: center;
    }

    img {
        display: block;
        width: 80px;
        margin: 30px auto;
        box-shadow: 0 5px 10px -7px #333333;
        border-radius: 50%;
    }

    .form {
        background-color: #ffffff;
        width: 500px;
        margin: 80px auto 10px auto;
        padding: 30px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 10px -3px #333;
        text-align: center;
    }

    input {
        border-radius: 100px;
        padding: 10px 15px;
        width: 50%;
        border: 1px solid #D9D9D9;
        outline: none;
        display: block;
        margin: 20px auto 20px auto;
    }

    .btn-default {
        border-radius: 100px;
        border: none;
        background: #719BE6;
        width: 50%;
        padding: 10px;
        color: #FFFFFF;
        margin-top: 25px;
        box-shadow: 0 2px 10px -3px #719BE6;
        display: block;
        margin: 55px auto 10px auto;
    }

    a {
        text-align: center;
        margin-top: 30px;
        color: #719BE6;
        text-decoration: none;
        padding: 5px;
        display: inline-block;
    }

        a:hover {
            text-decoration: underline;
        }

</style>

<div class="form">

    <img src="http://www.androidpolice.com/wp-content/themes/ap2/ap_resize/ap_resize.php?src=http%3A%2F%2Fwww.androidpolice.com%2Fwp-content%2Fuploads%2F2015%2F10%2Fnexus2cee_Search-Thumb-150x150.png&w=150&h=150&zc=3">
 <a id="btnsign" class="btn btn-default btn-block" href="@Url.Action("SignIn", new { type = "Google" })">Sign in</a>
    <a href="https://accounts.google.com/signup/v2/webcreateaccount?service=accountsettings&continue=https%3A%2F%2Fmyaccount.google.com%2F%3Futm_source%3DOGB%26tab%3Dwk%26utm_medium%3Dact%26pli%3D1%26nlr%3D1&dsh=S1695244983%3A1574951629060826&gmb=exp&biz=false&flowName=GlifWebSignIn&flowEntry=SignUp">Create account</a>

</div>