
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutCaPhe.cshtml";
}

<h2>Giới Thiệu</h2>
<text>
    <strong style="font-size:20px">Cà phê</strong> (bắt nguồn từ từ tiếng Pháp café /kafe/) là một loại thức uống được ủ từ hạt cà phê rang, lấy từ quả của cây cà phê. Các giống cây cà phê được bắt nguồn từ vùng nhiệt đới châu Phi và các vùng Madagascar, Comoros, Mauritius và Réunion trên Ấn Độ Dương. Giống cây này được xuất khẩu từ châu Phi tới các nước trên thế giới và hiện nay đã được trồng tại tổng cộng hơn 70 quốc gia, chủ yếu là các khu vực nằm gần đường xích đạo thuộc châu Mỹ, Đông Nam Á, Ấn Độ và châu Phi. Hai giống cà phê được trồng phổ biến nhất là cà phê chè, và cà phê vối. Sau khi chín, quả cà phê sẽ được hái, chế biến và phơi khô. Hạt cà phê khô sẽ được rang trong nhiều điều kiện nhiệt độ khác nhau, tùy thuộc vào nhu cầu thị hiếu. Hạt cà phê sau khi rang sẽ được đem đi xay và ủ với nước sôi để tạo ra cà phê dưới dạng thức uống.
</text>
<br />
<text>
    <strong style="font-size:20px">Cà phê</strong> có ít tính axit và có thể gây kích thích đối với người sử dụng do có chứa hàm lượng cafein. Cà phê ngày nay là một trong những thức uống phổ biến trên thế giới. Thức uống này có thể được chuẩn bị và phục vụ theo nhiều dạng uống khác nhau (ví dụ như espresso, cà phê bình, latte,...). Cà phê thường được thưởng thức nóng, dù cà phê đá cũng được nhiều người ưa dùng. Nhiều nghiên cứu lâm sàng cho thấy lượng cà phê tiêu thụ trung bình là vừa đủ hoặc có lợi đối với một người lớn khỏe mạnh. Nhiều nhà nghiên cứu cũng đặt câu hỏi về việc sử dụng cà phê lâu dài có thể hạn chế chứng suy giảm trí nhớ về già hoặc giảm thiểu khả năng mắc các bệnh ung thư.
</text>
<br />
<text>
    <strong style="font-size:20px">Cà phê</strong> là một mặt hàng xuất khẩu lớn: đứng đầu trong số các mặt hàng xuất khẩu nông nghiệp tại nhiều quốc gia và là một trong những mặt hàng xuất khẩu nông nghiệp hợp pháp lớn nhất trên thế giới. Đây cũng là loại hàng hóa có giá trị xuất khẩu nhất của các quốc gia đang phát triển. Cà phê xanh (không rang) cũng là một trong những mặt hàng nông nghiệp được buôn bán nhiều nhất trên thế giới.[10] Nhiều tranh luận đã xảy ra xung quanh việc trồng cà phê, cách các quốc gia phát triển trao đổi cà phê với các nước đang phát triển và tác động của việc trồng cà phê đối với môi trường sống, đi kèm với vấn đề tạo đất trống để trồng và phê và sử dụng nước tưới. Cũng nhờ vậy, thị trường cà phê thương mại công bằng và cà phê hữu cơ ngày càng được mở rộng.
</text>


