
<div id="PartialView">
    <select id="year" class="dropdown" name="nam">
        <option value="#">Chọn Năm</option>
        <option value="2019">2019</option>
    </select>
    <select id="month" class="dropdown" name="thang">
        <option value="Ký">Chọn Tháng</option>
        <option value="10">10</option>
        <option value="11">11</option>
    </select>
    <input type="submit" class="btncreate" onclick="Thongke()" style="width:165px; background-color:#17aa67" value="Tạo Sản Phẩm" />

</div>
