* {
    margin: 0px;
    padding: 0px;
}

/*trang create*/
.p_A {
    padding: 2%;
}

.context {
    background-color: white;
    padding: 2%;
    width: 100%;
    height: 100%;
}

    .context p {
        background-color: white;
    }

.text_left {
    float: left;
    width: 50%;
}

.text_right {
    margin-top: 15%;
    float: right;
    width: 50%;
}

.table_A {
    width: 95%;
    height: 350px;
}

    .table_A tr td {
        width: auto;
    }


        .table_A tr td input {
            width: 100%;
        }


input {
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 250%;
    border: none;
    border-bottom: 1px solid #CFCFCF;
}

    input:focus {
        outline: none;
    }


.dropdown {
    color: #696969;
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #CFCFCF;
}


.btn_back {
    border: none;
    background-color: red;
    border-radius: 3px;
    color: white;
    width: 100px;
    height: 35px;
}

.btn_Tao {
    border: none;
    background-color: green;
    border-radius: 3px;
    color: white;
    width: 100px;
    height: 35px;
}

    .btn_Tao:hover {
        cursor: pointer;
    }

.btn_Choose {
    border-radius: 3px;
    border: 2px solid blue;
    color: blue;
    width: 100px;
    height: 40px;
    background-color: white;
}
/*create Author*/

.text_left_author {
    margin-bottom: 20px;
    float: left;
    width: 40%;
}

.text_right_author {
    margin-top: 5%;
    float: right;
    width: 50%;
}

.table_Author {
    width: 95%;
    height: 100px;
}

    .table_Author tr td {
        width: auto;
    }

        .table_Author tr td input {
            width: 80%;
        }

.text_right_author table tr th {
    border: 1px solid #000000;
    padding: 5%;
    background-color: #B5B5B5;
    text-align: center;
    width: fit-content;
}

.text_right_author table tr {
    width: 50%;
}

    .text_right_author table tr td {
        width: 70%;
        border: 1px solid #000000;
        text-align: center;
        padding: inherit;
    }
