.Cart-info table {
    width: 100%;
    border-collapse: collapse;
    padding-bottom: 15px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.Cart-info thead td {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    background: #eee;
    font-weight: bold;
    border-bottom: 1px solid #ddd
}

.Cart-info tbody td {
    text-align: center;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

.Cart-info tbody img {
    width: 80px;
    height: 100px
}

.txtSLGH {
    width: 35px;
    height: 25px;
    text-align: center;
    background: #eee;
    border: 1px solid #ddd;
}
#MaSach{
    width:40%;
    text-align:center;
}
.Cart-info tbody td a {
    font-size: 15px;
    margin: 10px 0 10px 10px;
    color: #333;
    cursor: pointer
}

    .Cart-info tbody td a:hover {
        color: #f89406;
    }

#TongTien > h4 {
    padding: 15px;
    display: inline-block;
    background: #eee;
    margin-bottom: 25px
}

    #TongTien > h4 > span {
        font-size: 15px;
        font-weight: bolder;
        color: #f89406;
    }

#frm-thanhtoan table td {
    height: 50px;
    font-size: 20px;
}

#frm-thanhtoan p {
    color: white;
    background-color: #f57224;
    text-align: center;
    font-size: 30px;
}

#frm-thanhtoan table {
    margin: 0 auto;
}

    #frm-thanhtoan table input[type=text] {
        height: 25px;
        width: 100%;
    }

#frm-thanhtoan input[type=button] {
    color: white;
    background-color: red;
    border-radius: 3px;
    border-color: red;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div#ThanhToan input[type=submit] {
    color: white;
    background-color: red;
    border-radius: 3px;
    border-color: red;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#frm-thanhtoan {
    display: none;
}
