body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.table-wrapper {
    background: #fff;
    padding: 20px;
    margin: 30px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.table-title {
    font-size: 15px;
    min-height: 45px;
}

    .table-title h2 {
        margin: 5px 0 0;
        font-size: 24px;
    }

    .table-title select {
        border-color: #ddd;
        border-width: 0 0 1px 0;
        padding: 3px 10px 3px 5px;
        margin: 0 5px;
    }

    .table-title .show-entries {
        margin-top: 7px;
    }

.search-box {
    width: 66%;
    position: relative;
}


    .search-box .input-group-addon, .search-box input {
        border-color: #ddd;
        border-radius: 0;
    }

    .search-box .input-group-addon {
        border: none;
        border: none;
        background: transparent;
        position: absolute;
        z-index: 9;
    }

    .search-box input[type=text] {
        width: 60%;
        display: inline-block;
        box-shadow: none !important;
        border-width: 0 0 1px 0;
    }

    .search-box input[type=submit] {
        background-color: #4caf50;
        border-radius: 5px;
        color: white;
        width: 14%;
        display: inline-block;
        box-shadow: none !important;
        border: none;
    }


    .search-box i {
        color: #a0a5b1;
        font-size: 19px;
        position: relative;
        top: 11px;
        left: -17px;
    }

table.table tr th, table.table tr td {
    text-align: center;
    border-color: #e9e9e9;
    border-bottom: none;
}

table.table tr th {
    background-color: #1eac6b;
    font-weight: bold;
    color: white;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child {
    width: 130px;
}

table.table td a {
    color: white;
    display: inline-block;
    margin: 0 5px;
}

    table.table td a.view {
        color: #03A9F4;
    }

    table.table td a.edit {
        color: #FFC107;
    }

    table.table td a.delete {
        color: #E34724;
    }

table.table td i {
    font-size: 19px;
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

    .pagination li a {
        border: none;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        padding: 5px 10px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 5px !important;
        text-align: center;
    }

        .pagination li a:hover {
            color: #666;
        }

    .pagination li.a {
        background: #03A9F4;
    }

    .pagination li.active a:hover {
        background: #0397d6;
    }

    .pagination li.active a:focus {
        background: red;
    }

    .pagination li.disabled i {
        color: #ccc;
    }

    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

.themsach {
    border: solid 1px deepskyblue;
    color: deepskyblue;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 1px 1px 5px -1px;
}

.formsearch {
    left: 36%;
    position: absolute;
    width: 70%;
}
