#sanpham img {
    width: 100%;
    height: 100%;
}

#sanpham {
    position:relative;
    border: 1px solid #e1e1e1;
    width: 23%;
    display: inline-block;
    background-color: white;
    margin-top: 1rem;
    margin-right: .8rem;
}

.book-content {
    width: 100%;
    height: 100%;
}

#tensach {
    overflow: hidden;
    font-size: 16px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    color: black;
    white-space: pre;
    text-overflow: ellipsis;
    padding: 10px 10px;
}

#tieude {
    color: #ff9800;
    padding-bottom: 10px;
    font-size: 13px;
    text-align: center;
}

.price{
    text-align:center;
    padding-bottom:10px;
}
#agia {
    color:black;
}
/*#agia:hover {
transition:0.5s;
background-color:grey;
cursor:pointer;
}*/
/*a:hover{
    background-color:red;
}*/

/*--------------------------POUP-----------------------------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 90px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-header h2{
    margin: 0 27%;
    padding: 10px 0;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    position:relative;
}

.modal-footer {
    padding:30px 0px;
    background-color: #5cb85c;
    color: white;
}

/*-------------------------------------------------------------------*/

#icon {
    text-align: center;
    border-top: solid 1px rgb(190, 190, 190);
    border-left: solid 1px rgb(190, 190, 190);
    padding: 10px 0px;
    background-color: #eeeeee;
    width: 30%;
    display: inline-block;
}

.price:hover a {
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(190, 190, 190);
}

.price:hover #icon {
    transition: 0.5s;
    cursor: pointer;
    border-top: solid 1px red;
    border-left: solid 1px red;
    background-color: red;
}



.tooltip-content {
    position: absolute;
    top: 30%;
    left: 10%;
}
.tooltip-content ul li a {
        display: block;
        width: 45px;
        height: 45px;
        background: #fff;
        color: #ababab;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        line-height: 45px;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
    }


    .tooltip-content ul li a:hover {
        cursor: pointer;
        background-color: #5cb85c;
    }


.tooltip-content ul li {
        display: inline-block;
    }

#sanpham:hover{
    cursor:pointer;
}
#sanpham:hover #anhbia{
    opacity:0.5;
    transition:all .3s;
}
.tooltip-li {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
    transition-delay: .2s;
}
#sanpham:hover li {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}#sanpham:hover .li1{    
     transform:scale(1);
    transition-delay:.3s;
  
}
#sanpham:hover .li2 {
    transform: scale(1);
    transition-delay: .5s;
}
#sanpham:hover .li3 {
    transform: scale(1);
    transition-delay: .7s;
}
.left{
    float:left;
}
.right{
    margin-left:25rem;
    margin-top:-22rem;
    padding: 40px 0px;
    float:left;
}
.left img{
    padding:10px 20px;
    width:40%;
}
#popupbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#pname {
    font-size: 30px;
    font-weight: 600;
    color: #3b8e22;
}

#popupmota{
    overflow:hidden;
    text-overflow:ellipsis;
}
