body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
}

.topnav {
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 0 100px;
}

.searchform {
    padding: 5px 2px;
    display: inline-block;
}

.topnav > ul > li > a {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 19px 10px;
    text-decoration: none;
    font-size: 15px;
}

.topnav .rightz {
    float: right;
}
nav ul li ol{
    display:none;
}
nav ul li:hover a{
    transition: all .2s;
    color: white;
    cursor: pointer;
    background-color:gray;
}
/*a:not([href]):not([tabindex]) {
    color: gray;
    text-decoration: none;
}*/

nav ul li:hover ol {
    display: block;
    position: absolute;
    top: 60px;
    left: 280px;
}
.sub-language {
    left: 35.5rem;
}
/*.topnav > ul > li > a:hover {
    background-color: rgb(146, 146, 146);
    color: white;
    text-decoration: none;
    transition: all .3s;
}

 nav ul li ol {
        display: block;
        position: absolute;
        top: 60px;
        left: 280px;
    }
nav ul li:hover ol{
    display:none;
}
*/
nav ol li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 19px 10px;
    text-decoration: none;
    font-size: 15px;
    background-color: rgb(146, 146, 146);
}
h6 {
    color: #ff9800;
}
nav ol li {
    float: left;
}
nav ol li a:hover {
    transition: all .3s;
    background-color: white;
    color: gray;
    text-decoration: none;
    cursor:pointer;
}
/*


*/
/*-----------------------------------------Menu đa cấp----------------------------------------*/
/*.navbar {
    overflow: hidden;
    background-color: #333;
    position:unset;
}

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.subnav {
    float: left;
    overflow: hidden;
}

    .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbar a:hover, .subnav:hover .subnavbtn {
        background-color: red;
    }

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}

    .subnav-content a {
        float: left;
        color: white;
        text-decoration: none;
    }

        .subnav-content a:hover {
            background-color: #eee;
            color: black;
        }

.subnav:hover .subnav-content {
    display: block;
}*/
/*-------------------------------------------------------------------*/
nav {
    background-color: white;
    position: fixed;
    z-index: 100;
    opacity: 1;
    width: 100%;
    border-bottom: none;
}

hr {
    margin: 0;
}

header {
    width: 100%;
    height: 100%;
}

.search-container {
    float: right;
    margin-top: -3rem;
}

header input[type=text] {
    padding: 14px;
    font-size: 17px;
    border: none;
}

.header {
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url(../Images/background1.jpg);
    background-image: linear-gradient(to bottom right,rgb(53, 59, 72,0.6), rgb(53, 59, 72,0.6) ), url(../Images/background1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

.search-container button {
    float: right;
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    height: 37px;
}

header .search-container button:hover {
    background: #ccc;
}

header input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 85%;
    margin: 0;
    padding: 10px;
    height: 37px;
    display: inline-block;
}


.logo img {
    width: 100%;
}

.logo {
    display: inline;
}

aside {
    width: 100%;
    height: 100%;
    padding: 30px 2rem;
}
/*Search*/
.search-container button:hover {
    background: #ccc;
}

input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #dfe2d7;
}

.search-container button {
    float: right;
    background: #5cb85c;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
}
/*------------------------------------------------------------------*/
.button {
    background-color: white;
    border: solid 1px #ddd;
    color: gray;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

    .button:hover {
        text-decoration: none;
        color: white;
        background-color: black;
        transition-duration: 1s;
    }

#btnfirst {
    background: black;
    color: white;
}

#btnfinish {
    background: red;
    color: white;
}

h6 {
    padding-bottom: 10px;
    padding-top: 30px;
}


.footercontext {
    padding: 0;
    list-style-type: none;
}

.aa {
    font-size: 13px;
    display: inline-block;
    height: 100px;
    width: 25%;
    background-color: white;
}

.bb {
    font-size: 13px;
    display: inline-block;
    height: 100px;
    width: 25%;
    background-color: white;
}

.cc {
    font-size: 13px;
    display: inline-block;
    height: 100px;
    width: 25%;
    background-color: white;
}

.dd {
    font-size: 13px;
    display: inline-block;
    height: 100px;
    width: 23%;
    background-color: white;
}

.tentfirsr {
    padding: 10px 10px;
    background-color: rgb(241, 241, 241);
}

.headfooter {
    padding: 10px 200px;
    background-color: rgb(228, 228, 228);
}

    .headfooter a {
        color: rgb(97, 97, 97);
        text-decoration: none;
    }

.ZZ {
    padding: 15px 0px;
    padding-right: 76px;
}

.vv {
    padding: 15px 0px;
    padding-right: 120px;
}

.nn {
    padding: 15px 0px;
    padding-left: 95px;
}



.content-book {
    width: 100%;
    height: auto;
}

.contact {
    width: 76%;
    height: 70px;
    border-top: 1px solid #e4e4e4;
    display: inline-block;
}

.contact1 {
    width: 16%;
    height: 70px;
    border-top: 1px solid #e4e4e4;
    display: inline-block;
    margin-left: 98px;
}



.gotop {
    float: right;
    margin-top: -16px;
    margin-right: -64px;
}

    .gotop img:hover {
        cursor: pointer;
        transition: .2s;
        transform: scale(1.1);
    }

.texxxt {
    margin-top: -3.8rem;
    width: 100%;
}
/*.texxxt p {
        margin-top: -70px;
        font-size: 10px;
        margin-left: 200px;
    }*/

.p {
    width: 32%;
    display: inline-block;
}

    .p p {
        font-size: 10px;
        margin-left: 2rem;
    }

.pp {
    width: 30%;
    display: inline-block;
}

    .pp p {
        font-size: 18px;
        margin-left: 206px;
        font-style: italic;
        font-weight: 900;
    }

        .pp p:hover {
            color: blue;
        }

.ppp {
    margin-left: 4rem;
    width: 30%;
    display: inline-block;
}

    .ppp p {
        font-size: 10px;
    }

.link {
    margin-left: 80px;
    letter-spacing: 8px;
}

    .link i:hover {
        color: red;
    }
/*.buttonhead a:focus, a:active {
    background-color: red;
}
.button:focus{
    background-color:red;
}*/

.textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading {
    color: white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 35px;
}

.heading-main {
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px;
    animation-name: moveinleft;
    animation-duration: 1.3s;
    padding-left: 10px;
    /* animation-delay: 1s; */
}

.heading-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 24px;
    animation-name: moveinright;
    animation-duration: 1.3s;
    padding-left: 10px;
    /* animation-delay: 1s; */
}

@keyframes moveinleft {
    0% {
        opacity: 0;
        transform: translateX(-100px)rotate(360deg);
        ;
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveinright {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes movebutton {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link, /* Dinh dang cho cac lien ket chua duoc click */
.btn:visited /*Dinh dang cho cac lien  ket sau khi  click*/ {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    position: relative;
}

.btn {
    color: #777;
    background-color: white;
    transition: all .2s;
}

    .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .btn:active /*Dinh dang cac lien ket duoc kich hoat*/ {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }

    .btn::after /*Them noi dung ngay phia ssau thanh phan*/ {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        background-color: white;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        transition: .4s;
    }

    .btn:hover::after {
        transform: scaleX(1.3) scaleY(1.5);
        opacity: 0;
    }

.btn-animation {
    animation-name: movebutton;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-fill-mode: backwards;
}


/*---------------------------------------FOOTER----------------------------------------*/
footer {
    background-image: linear-gradient(to bottom right,rgb(53, 59, 72,0.6), rgb(53, 59, 72,0.6) ), url(../Images/background1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 3rem;
    width: 100%;
    color: white;
    height: 457px;
    padding-top: 3rem;
}

.footer-left {
    margin: 0;
    padding: 0 15px;
    width: 30%;
    display: inline-block;
}

.footer-center1 {
    width: 20%;
    display: inline-block;
}

li {
    list-style: none;
}

.footer-center2 {
    width: 19%;
    display: inline-block;
}

.footer-right {
    width: 29%;
    display: inline-block;
}

.footer-icon {
    padding-right: .5rem;
}

.bct {
    padding: 10px 0px;
}

.gg {
    width: 90%;
    height: 200px;
    overflow: hidden;
    border-radius: 4px;
}

footer ul li {
    padding: .5rem 5px;
}

footer ul {
    padding: 0;
}

.network {
    padding-top: 15px;
    float: right;
}

    .network a {
        padding: 0px 3px;
    }

        .network a img:hover {
            cursor: pointer;
            transition: .5s;
            transform: rotate(360deg) scale(1.1);
        }
