body {
    margin: 0;
    padding: 0;
    background-image: url(../Images/bg-01.jpg);
    background-size: cover;
    width: 100%;
}

.login-ad {
    position: absolute;
    width: 350px;
    height: 300px;
    background-color: white;
    top: 30%;
    left: 38%;
    border-radius: 5px;
    box-shadow: 3px 2px 6px 2px grey;
}

.icon {
    box-shadow: 1px 1px 13px 1px #32c787;
    background-color: #32c787;
    margin: auto;
    height: 110px;
    width: 250px;
    margin-top: -50px;
    margin-left: -4px;
    border-radius: 3px;
    border: solid 1px #2ac582;
}

button:focus {
    border: none;
}

button:active {
    border: none;
}

form {
    text-align: center;
    width: 70%;
    margin: auto;
    padding-top: 35px;
}

.div-login {
    padding-top: 20px;
}

input[type="text"], [type="Password"] {
    border: none;
    max-width: 100%;
    border-bottom: solid 1px #ccc;
    padding: 12px;
    resize: vertical;
    text-align: center;
}

.div-login button {
    height: 50px;
    border-radius: 50%;
    width: 50px;
    background-color: #32c787;
    border: none;
}

.icon1 {
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background-color: white;
    text-align: center;
    position: relative;
    margin-left: 41%;
    margin-top: 4%;
}

.fa {
    left: 21%;
    top: 14%;
    position: absolute;
    color: #32c787;
}

#btnlogin:hover {
    animation-name: btnlogin;
    animation-duration: 0.5s;
    cursor: pointer;
}

@keyframes btnlogin {
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}
