nav.navbar.fixed-top {
    background-color: #17aa67
}

aside.app-sidebar {
    background-color: #e5e5e5;
    -webkit-box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
}

p.app-sidebar__user-designation {
    color: #8f8d8d
}

p.app-sidebar__user-name {
    font-weight: bold;
    color: #000000
}

div.app-sidebar__user {
    background-color: #dddddd
}

span.app-menu__label {
    font-weight: bold;
    color: #585757
}

.fa-home:before {
    color: #13d37b
}

.fa-tasks:before {
    color: #000000
}

.fa-address-book {
    color: #000000
}

.fa-suitcase {
    color: #000000
}

.fa-book {
    color: #000000
}

.fa-sign-out {
    color: #000000
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
